:root{
    --primary-tirquoise:rgb(84,230,175);
    --primary-darkGrayishBlue:rgb(44,52,75);
    --primary-blackishBlue:rgb(18,23,37);
    --primary-white:rgb(255,255,255);
    --neutral-lightGray:rgb(90,102,138);
    --neutral-veryLightGray:rgb(194,203,229);    
}
*, *::before, *::after{
    box-sizing: border-box;
    font-family: 'Chivo', sans-serif;
}

html,body,main,div,h1,p,span,img,form,input,button{
    margin:0;
    padding: 0;
    border: 0;
}

html,body{    
    position:relative;
    width: 100vw;
    height: 100vh;
    /* overflow: hidden; */
}

img{
    height:auto;
    max-width: 100%;
}

body{    
    background-color: var(--primary-blackishBlue);
}

.container{
    margin:130px 0 130px 165px;
    max-width: 1275px;    
    max-height: 640px;  
    height: 100vh;  
    position: relative;    
    display:flex; 
    width:100%;
    height: 100%;
    justify-content: flex-start;    
}

.logo__container{
    width:134.85px;
    height: 56px;
    margin-top: -28px;;
}

.logo{
    content:url(../assets/desktop/logo.svg);
}

.po__image-containter{
    position: relative;
}

.pod__image{    
    clip-path: polygon(50% 0%,100% 0%,100% 100%,38% 100%,38% 20%,0% 20%,0% 0%);  
    max-width:888px;
    max-height: 640px; 
    right:0;
    top:0;
    position:absolute;  
    z-index:0;
}

.img-tablet{
    visibility: hidden;
}

.pod__content{    
    /* flex-shrink: 1; */
    position:absolute;
    left:0;
    bottom:0;
    max-height: 509px;
    max-width: 723px;
    width:100%;
    height:100%;
    display:flex;
    flex-direction: column;
    /* margin-top: 88px;
    margin-right:58px; */
    padding-top: 88px;
    padding-right: 58px;
    background: ver(--primary-darkGrayishBlue);
    /* border:1px solid blue; */
    justify-content: flex-start;
}

.pod__title{
    font-weight: 300;
    font-size: 52px;
    line-height: 1.2;
    color:var(--primary-white);   
    text-transform: uppercase; 
}

.green{
    color:var(--primary-tirquoise);
}

.pod__text{
    color:var(--neutral-veryLightGray);
    margin-top: 24px;
    max-width:445px;
    font-size: 18px;
    font-weight: 300;
    line-height: 1.55;
}

.pod__form{
    margin:40px 0 64px;
    width:427px;
    height:56px;
    background:transparent;
    font-weight: 700;
    font-size: 14px;
    line-height: 2;
    position: relative;
}

.pod__input{
    height: 100%;
    width:100%;
    border-radius: 28px;
    float:left;
    border:0;
    background-color: var(--primary-darkGrayishBlue);
    outline:none;
    caret-color: var(--neutral-veryLightGray);
    color:var(--primary-white);
    padding-left: 32px;    
    font-weight: 400;
}

.pod__input:focus{
    outline:none;
    background-color: var(--primary-darkGrayishBlue);   
    padding-left: 32px; 
}

.pod__input::placeholder{
    color:var(--neutral-veryLightGray);    
}

.pod__btn{
    position:absolute;
    overflow: visible;
    color:var(--primary-blackishBlue);
    background-color: var(--primary-tirquoise);
    font-weight: 700;
    margin:5px 5px 5px -167px;
    z-index:2;
    float:right;
    height: 46px;
    width: 162px;
    border-radius: 28px;
}

.pod__btn:hover{
    background-color: rgba(179, 255, 226, 1);
    cursor:pointer;
}

.pod__icons{   
    height: 29px;
    width: 536px;    
    display:flex;
    justify-content: space-between;
}
.pod__icons>img{
    margin-right: 40px;
}

.bg__pattern{ 
    content:url(../assets/desktop/bg-pattern-dots.svg);
    width:232px;
    height: 104px;
    position:absolute;
    bottom:-52px;    
    right:0;
    z-index:1;
}

@media only screen and(min-width:1025px) and (max-width:1200px){
    .hidden-tablet{
        visibility: hidden;
    }

    .container{
        margin-left:100px;      
    }  

    .pod__title{
        width:445px;
        font-size: 48px;
        
    }
}

@media only screen and (min-width:768px) and (max-width:1024px) {
    .container{
        margin:0;
        padding-bottom: 257px;       
        position: relative;    
        display:flex;   
        height:100vh;     
    }
    
     .logo__container{        
        margin-top: 50px;
        margin-left: 39px;
    }

    .img-desktop{
       visibility: hidden;
       display:none;
    }

    .img-tablet{
        visibility: visible;
        clip-path: polygon(50% 0%,100% 0%,100% 100%,81% 100%,81% 30%,0% 30%,0% 0%);  
    }

    .pod__img .img-tablet{ 
        max-width:491px;
        max-height: 767px;
    }

    .pod__content{
        left:39px;
        top:238px;
        max-width:635px;        
        height:416px;       
        margin-right: 94px;        
        padding:0;
    }

    .pod__title{
        font-size: 48px;
        /* width:100%; */
        line-height: 1.165;
        height: 112px;
        width:635px;
    }

    .pod__text{
        height: 84px;
        margin-top: 31px;
    }

    .bg__pattern{
        left:30px;
        bottom:-382px;
    }
}

 

@media only screen and (max-width:767px) {
    .container{
        flex-direction: column;
    }

    .img-tablet{
        visibility: hidden;        
    }

    .img-desktop{
        visibility: hidden;
    }

    .hidden-mobile{
        visibility: hidden;
    }

    .container{        
        max-width:100vw;
        max-height:812px;
        overflow: hidden;
        height:100vh;
        margin:0;
        padding:62px 24px 94px;
        align-items: center;
        background-image: url(../assets/mobile/image-host.jpg);
        background-color: var(--primary-blackishBlue);
        background-blend-mode: overlay;
        background-size: cover;          
    }

    .logo__container{        
        align-self: center;
    }

    .pod__content{
        height: 398px;
        max-width: 327px;
        padding:0;
        margin-top:57px;
        position:relative;
        text-align: center;
    }

    .pod__title{
        font-size: 26px;
        line-height: 1.5;
        width:100%;
        text-align: center;
    }

    .pod__text{
        font-size: 15px;
        line-height: 1.675;
        margin:16px 0;
    }

    .pod__icons{
        order:3;
        height: 17px;
        margin-top:17px;
        margin-bottom: 17px;
        max-width:315px;
        justify-content: space-between;
    }

    .pod__icons>img{
        margin-right:0;        
    }
    .spotify{
        max-width:56px;
    }

    .apple-podcasts{
        max-width:45px;
    }

    .google-podcasts {
        max-width:73px;
    }

    .pocket-casts{
        max-width: 77px;
    }

    .pod__form{
        order:4;
        height: 108px;
        max-width:326px;
        gap: 16px;
        display:flex;
        flex-direction: column;
    }

    .pod__input, .pod__btn{
        max-width:326px;
        width:100vw;
        height:46px;
    }

    .pod__btn{
        position:relative;
        float:none;
        margin:0;
    }

    .pod__input{
        float:none;
    }
}